*.aux
*.backup
*.log
*.xml
*.bcf
*.idx
*.synctex.gz
*.ptc

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.synctex(busy)
*.rt-win64
Ch_01_Generalites/Demos/Modeles/Qube_quarc_win64/
Ch_01_Generalites/Demos/Modeles/slrpj/
Ch_01_Generalites/Demos/Modeles/slprj/
Ch_01_Generalites/Demos/Modeles/q_qube2_o2_quarc_win64/
Ch_01_Generalites/Demos/Modeles/quarc_win64/


